<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Fire Tournament</title>
</head>
<body>

    <h3>Tournament List</h3>
    <p>Tornament 1<a href="/user/register1"><button>Register</button></a></p>
    <p>Tornament 2<a href="/user/register2"><button>Register</button></a></p>
    
</body>
</html>