<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament 1 </title>
    <link rel="stylesheet" href="/css/createparking.css">
</head>

<body>

    <form id="newPostForm" action="/user/register1" method="post">

        <input type="text" name="team_name" placeholder="Team Name">
        <input type="text" name="name1" placeholder="Player Name">
        <input type="text" name="uid1" placeholder="Player Uid">
        <!-- <input type="text" name="iframe_link" placeholder="Iframe link">
        <input type="text" name="total_spot" placeholder="Total spot">
        <input type="text" name="Opening_Times" placeholder="Opening Times">
        <input type="text" name="Closing_Times" placeholder="Closing Times" input>
        <input type="text" name="Price" placeholder="Price">
        <input type="text" name="Reservation_Price" placeholder="Reservation Price">
        <input type="text" name="Features" placeholder="Features spot"> -->
        <button class="full-width" type="submit">
            submit
        </button>
    </form>
</body>

</html>