<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament 1 </title>
    <link rel="stylesheet" href="/css/createparking.css">
</head>

<body>

    <form id="newPostForm" action="/user/register1" method="post">
        
        <input type="text" name="u_name" placeholder="Your Name">
        <input type="text" name="team_name" placeholder="Team Name">
        <input type="text" name="name" placeholder="Player Name">
        <input type="text" name="uid" placeholder="Player Uid">
        <input type="number" name="phone" placeholder="Phone">
        <input type="number" name="whats_no" placeholder="Whatsapp no">
        <input type="text" name="recomended" placeholder="Recomended">
        <input type="text" name="time" placeholder="Time" input>
        <input type="number" name="value" placeholder="Payment Value">
        <!-- <input type="text" name="Reservation_Price" placeholder="Reservation Price">
        <input type="text" name="Features" placeholder="Features spot"> --> 
        <button class="full-width" type="submit">
            submit
        </button>
    </form>
    <p>This is remote branch</p>
</body>

</html>