body {
    font-family: sans-serif;
}
.a{
    padding: 5px 5px;
    background-color: aquamarine;
    text-decoration: none;
    color: black;
}
.a:hover{
    background-color: aqua;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: tranparent; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 20px;
    }
    

table,
th,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

th {
    padding: 20px;
    text-align: center !important;
}

td {
    padding: 20px;
}

td {
    /* max-width: 217px; */
    overflow-x: auto;
    text-align: center;
}
tr{
    max-height: 100px;
    overflow-y: scroll;
    border-bottom: 2px solid #000    !important;

}

.btn {
    position: absolute;
    left: 1263px;
    top: 110px;
}

.overflow {
    width: 500px;
    height: auto;
    overflow: scroll;
}
.breif{
    height: 44px;
    overflow-y: hidden;
    width: 243px;
}

.bg-black {
    background-color: #000;
    color: #fff;
 
}

.admin-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: auto;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}